@charset "UTF-8";
// 文字颜色
$color: #333; // 颜色-基准／默认

$color-hover: #3b99fc; // 颜色-划入
$color-primary: #0091DA; // 颜色-突出
$color-secondary: #E87070; // 颜色-突出-次要

$color-light: #666; // 颜色-浅色
$color-lighter: #999; // 颜色-浅色-高级
$color-lightest: #d3d3d3; // 颜色-浅色-最高级

$color-dark: #222; //颜色-深色
$color-darker: #111; //颜色-深色-高级
$color-darkest: #000; //颜色-深色-最高级

$color-link: #3b99fc; //文字链接颜色-通常为蓝色
$color-success: #00E480; // 颜色-成功
$color-error: #f00; // 颜色-失败
$color-warning: #f37b1d; // 颜色-警告
$color-danger: #dd514c; // 颜色-危险
$color-disabled: #eaeded; //颜色-禁用
$color-price: #f10214; // 颜色-金钱

// 边框颜色
$color-border: #DEDEDE; // 边框色
$color-border-light: #F2F4F6; // 边框-浅色
$color-border-dark: #b3b3b3; // 边框-深色

//背景色
$bg: #ededed; //背景色-默认
$bg-light: #f5f5f5; // 背景色-浅色
$bg-dark: #bdbdbc; // 背景色-深色

// 字号
$size: 12px; // 字号-默认
$size-lg: 14px; // 字号-大号
$size-mlg: 18px; // 字号-更大
$size-blg: 20px; // 字号-最大
$size-sm: 12px; // 字体-小号

// 圆角
$radius: 5px; // 圆角弧度-默认
$radius-lg: 8px; // 圆角弧度-大
$radius-sm: 3px; // 圆角弧度-小

// 间距
$num: 10px; // 间距
$num-sm: 10px; // 小间距
$num-lg: 20px; // 大间距

// 高度
$height: 28px; //常用高度
$line-height: 1.5; //常用行高14*1.5=21


//form变量 
$height-form: 28px; //form高度
$height-form-lg: 36px; //form按钮高度-大
$height-form-sm: 28px; //form高度-小
$line-height-form: 20px; //行高
$radius-form: 4px; // form 圆角
$radius-form-lg: 6px; // form 圆角-大
$radius-form-sm: 3px; // form 圆角-小

//按钮
$bg-btn: #fff; //按钮背景色
$padding-base-vertical: ($height-form - $line-height-form - 2)/2; //纵向留白-默认
$padding-base-vertical-lg: ($height-form-lg - $line-height-form - 2)/2; //纵向留白-大
$padding-base-vertical-sm: ($height-form-sm - $line-height-form - 2)/2; //纵向留白-小
$padding-base-horizontal: 10px;//横向留白-默认
$min-width-btn: 80px; //按钮最低宽度-默认
$min-width-btn-sm: 60px; //按钮最低宽度-小
//输入框
$bg-input: #fff; //输入框背景

//空气质量等级
$level1: #46C96F; 
$level2: #F8C900; 
$level3: #F19D38; 
$level4: #EA3522; 
$level5: #8B2293; 
$level6: #8E1C10; 
